@page "/"
@namespace EyeHospitalPOS.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    Layout = null;
    var tokens = Antiforgery.GetAndStoreTokens(HttpContext);
}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EyeHospitalPOS</title>
    <base href="~/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs5.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="EyeHospitalPOS.styles.css" rel="stylesheet" />
    <meta name="csrf-token" content="@tokens.RequestToken" />
</head>
<body>
    @Html.AntiForgeryToken()
    <component type="typeof(App)" render-mode="Server" />
    <script src="js/theme.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
